/* Font styling and colours */
h2 {
  color: #ED6F0F;
}

body {
  color: #757575;
}

/* Set maximum width of pages, and center them */
.app-page {
  max-width: 1146px;
  margin-left: auto;
  margin-right: auto;
}

/* Class "row" (used in fluidRow) has margin-right and -left -15px - set to 0 to retain consistent widths with other divs */
.app-row {
   margin-right: 0;
   margin-left: 0;
}

/* Set colour of well panel */
.well {
  background-color: white;
}
