/* Font styling and colours */
h2 {
  color: #ED6F0F;
}

body {
  color: #757575;
}

/* Set maximum width of pages, and center them */
.app-page {
  max-width: 1146px;
  margin-left: auto;
  margin-right: auto;
}

/* Set colour of well panel */
.well {
  background-color: white;
}
